* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: hsl(218, 28%, 13%);
    font-size: 14px;
    font-family: "Nunito", sans-serif;
  }
  body a,
  h1,
  h2,
  h3,
  ul,
  li,
  p {
    color: #fff;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
  }
  body ul {
    list-style: none;
  }
  body a{
  font-size: 1.2rem;
  font-weight: 500;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    padding-top: 1rem;
  }
  nav .links ul {
    display: flex;
  }
  nav .links ul li {
    margin-left: 2rem;
  }
  nav .links ul li a:hover {
    text-decoration: underline;
  }

  .About-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem;
  }
  .About-section .detail-about{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
  }
  .About-section .detail .about{
    font-size: 1.1rem;
    width: 80%;
    hyphens: auto;
  }
  .About-section .detail h2{
    margin-bottom: 4rem;
    font-size: 1.7rem;
    
  
  }

  .About-section .detail a:hover{
    color: hsl(0, 0%, 100%);
  }
  .illustration{
    width: 100%;
    position: relative;
  }
  .illustration .media{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 2rem;
    color: rgb(126, 80, 253);
    visibility: hidden;
    opacity: 0;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .illustration .name{
    position: absolute;
    top: 5rem;
    left: 25rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 1000;
    font-weight: 100;
    font-size: 2rem;
    color: rgb(126, 80, 253);
   
  }
  span{
    display: block;
    border-bottom: 1px solid aqua;
    margin-left: 2.5rem;
  }
  .name:hover{
    color: rgb(90, 90, 236);
  }
  
  .get-to-know-me{
    background-color: hsl(217, 55%, 15%);
   transition: all .2s;
    display: flex;
    flex-direction: column;
  }
  .get-to-know-me .hobbies{
    justify-content: flex-start;
    margin-left: 3rem;
    margin-bottom: 5rem;
  }
  .get-to-know-me .priorities{
    margin-left: 20rem;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    background-image: linear-gradient(to right, rgb(65, 145, 231), rgb(45, 215, 34));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    margin: 3rem 2rem;
    display: inline-block;
    
  }
  .heading:hover{
       transform: skewY(1deg) skewX(7deg) scale(1.07);
       text-shadow: .5rem 1rem 2rem rgba(black, .2);
    }
  .get-to-know-me  li{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: hsl(217, 56%, 48%);
    text-align: center;
    padding-top: 4rem;
    display: inline-block;
  }
  .get-to-know-me  li:not(:last-child){
    margin-right: 2.5rem;
  }
  .get-to-know-me  li:hover{
    transform: translateY(-2rem);
  }
.skill{
  background-color: hsl(217, 76%, 11%);
  padding-bottom: 5rem;
  
}

.skill-list li{
  display: inline-block;
  
}
.skill-list li:not(:last-child){
  margin-right: 5rem;
}
.skill-list li:first-child{
  margin-left: 5rem;
}
.button{
  display: flex;
  justify-content: center;
}
.btn{
 margin-top: 7rem;
 text-decoration: none;
 padding: 1.5rem 4rem;
 border-radius: 10rem;
 transition: all .2s;
 position: relative;
 font-size: 1.4rem;

 border: 1px solid rgb(65, 145, 231);
 cursor: pointer;
}
.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
  background-color: hsl(216, 79%, 4%);
}

.footer{
  background: hsl(216, 53%, 9%);
  color: #fff;
  padding-bottom: 3rem;
  
}
.contact{
  padding-top: 2rem;
  margin-left: 3rem;
}
.contact a{
  padding-bottom: 2rem;
}
.social{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.social a{
  border: 1px solid;
  padding: 8px;
  border-radius: 50%;
  margin-left: 1rem;
  
}
.social a:hover{
  border-color: hsl(176, 68%, 64%);
  color: aqua;
}
@media (max-width:457px){
  nav{
    margin: 0 1rem;
  }
  nav .links ul li{
    margin-left: 1rem;
  }
  nav .links{
    width: 68%;
  }
  .illustration img{
    width: 100%;
    margin-top: 2rem;
    padding: 0;
    
  }
  .illustration .name{
    visibility: hidden;
    opacity: 0;
  }
  .illustration .media{
    visibility: visible;
    opacity: 1;
  }
  .About-section{
   display: block;
   margin-left: 1rem;
   padding: 0;
   margin-top: 0;
  }
  .About-section .detail-about{
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .About-section .detail-about .about{
    width: 100%;
  }
  .get-to-know-me .priorities{
    margin-left: 2rem;
    justify-content: flex-start;
    margin-bottom: 5rem;
  }

}
/*@media (max-width: 457px) {

  .home-section{
    height: 50vh;
  }
  .home-texts{
    margin: 0 1rem;
  }
  .home-texts img{
    width: 90%;
  }
  .home-texts h1{
    width: 100%;
  }
  .home-texts h3{
    padding: 0;
    padding-bottom: 2rem;
  }
  .features-section{
    padding-top: 23rem;
    grid-template-columns: 1fr;
  }
  .features-section .box{
    padding: 1rem 0;
    margin: 0 2rem;
  }
  .productive-section{
    flex-direction: column;
    margin: 10rem 2rem;
  }
  .productive-section .detail{
    width: 100%;
    padding: 0;
  }
  .productive-section .illustration img{
    width: 100%;
    margin-bottom: 2rem;
  }
  .testimonial{
    grid-template-columns: 1fr;
    margin: 15rem 20px;
  }
  .testimonial .quote{
    left: 0;
  }
  .early-access{
    width: 80%;
    padding: 1rem;
  }
  .early-access h1,
  .early-access p{
    padding: 1rem 0;
  }
  .early-access form input[type='email']{
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1rem;
  }
  .early-access form input[type='submit']{
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1rem;
  }
  .footer-elements{
    grid-template-columns: 1fr;
  }
  footer .logo{
    padding-top: 5rem;
  }
  footer .logo img{
    width: 50%;
  }
  .social{
    margin: 0 auto;
  }
}*/